.sl-markdown-content kbd {
    font-family: monospace;
    padding: 2px 4px;
    margin: 0 1px;
    background-color: var(--sl-color-gray-6);
    border: 1px solid var(--sl-color-gray-4);
    border-radius: 2px;
}
