---
interface Props {
    pkg: string
    title?: string
}

const { pkg, title = "Статус сборки пакетов" } = Astro.props;
---

<details>
    <summary>{title}</summary>
    <a href={`https://repology.org/project/${pkg}/versions`} target="_blank">
        <img
            src={`https://repology.org/badge/vertical-allrepos/${pkg}.svg`}
            alt={title}
        />
    </a>
</details>
