---
const props = Astro.props;
---

<details>
    <summary>Статус сборки пакетов</summary>
    <a href={`https://repology.org/project/${props.pkg}/versions`} target="_blank">
        <img
            src={`https://repology.org/badge/vertical-allrepos/${props.pkg}.svg`}
            alt="Статус сборки пакетов"
        />
    </a>
</details>
